.details {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 5rem;
}

.imageWrapper {
  height: 100%;
  width: 100%;

  overflow: hidden;

  align-self: flex-start;

  img {
    border-radius: 9px;
    width: 100%;
    object-fit: contain;
  }
}

.authorInformations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  width: 100%;
}

.author {
  display: flex;
  align-items: center;

  gap: 1.25rem;

  text-decoration: none;
  color: inherit;

  img {
    border-radius: 50%;
  }

  p {
    font-size: 2rem;
    font-weight: 600;
  }
}

.publish_date {
  font-size: 1.4rem;
}

.btns {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 960px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;
  }
}

@media screen and (max-width: 450px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
}
