.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  gap: 2rem;

  li {
    display: block;
  }
}

.link:link,
.link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-gray-dark-1);
  background-color: transparent;
  text-decoration: none;

  border-radius: 6px;
  padding: 1rem 2rem;

  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: var(--color-black);
  background-color: var(--color-gray-light-1);
}
