.collections {
  margin-top: 5rem;

  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);

  gap: 3rem;
}

@media screen and (max-width: 1020px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .collections {
    grid-template-columns: repeat(1, 1fr);
  }
}
