.dialog {
  padding: 0;
  margin: auto;
  border: none;

  border-radius: 12px;

  max-width: 60rem;

  animation: pop-hide 0.3s ease-in-out;
}

.dialog:open {
  animation: pop-up 0.3s ease-in-out;
}

.dialog::backdrop {
  cursor: pointer;

  animation: fade-in 0.5s ease-in-out forwards;
}

.modal {
  padding: 2rem;
}

.header {
  position: relative;

  h2 {
    color: var(--color-black);
    font-size: 3.2rem;
    text-align: center;
    font-weight: 600;
    padding: 0 4rem;

    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-black-2);
  }

  button {
    position: absolute;
    top: -6px;
    right: -6px;

    cursor: pointer;

    background: none;
    border: none;

    color: var(--color-black);

    transition: all 0.4s;
  }

  button:hover {
    color: var(--color-black-2);
  }
}

@keyframes fade-in {
  0% {
    background-color: #12182600;
  }

  100% {
    background-color: #12182663;
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    display: block;
  }
}

@keyframes pop-hide {
  0% {
    opacity: 1;
    transform: scale(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}
