.link:link,
.link:visited {
  color: inherit;
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);

  gap: 0.5rem;

  height: 22.5rem;

  overflow: hidden;
  border-radius: 6px;
}

.image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.image:first-child {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.image:last-child {
  grid-column: 2/3;
  grid-row: 2/3;
}

.details {
  margin-top: 1.5rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
}

.details .subTitle {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-gray-dark-1);

  margin-bottom: 0;
}
