.section {
  height: 100%;
  width: 100%;
  background-image: url("/404-error.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  background-color: #1a1a1a;
}

@media screen and (max-width: 1000px) {
  .section {
    background-position: left;
    background-size: cover;
  }
}

@media screen and (max-width: 520px) {
  .section {
    background-position: center;
    background-size: 100%;

    background-color: #1a1a1a;
  }
}
