.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 8rem 0 4rem;
}

.margin {
  padding-inline: 8rem;
  margin: 6rem;

  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;

  padding-inline: 8rem;
  margin-top: 6rem;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > figure {
  margin-bottom: 30px;
  border-radius: 6px;
  overflow: hidden;

  position: relative;

  img {
    width: 100%;
  }

  a {
    width: 100%;
    display: block;

    color: var(--text-white);
  }
}

@media screen and (max-width: 1420px) {
  .my-masonry-grid {
    padding-inline: 2rem;
  }
}
